/* Animacion en las imagenes */
.image-full {

  transition: transform 1s ease; 
}
.image-full:hover {
  transform: rotate(360deg); 
}

/* Animacion el texto */
.boxA, .boxB, .boxC {
 
  transition: color 0.5s ease; 
}
.boxA:hover, .boxB:hover, .boxC:hover {
  color: red; 
}

/* Animacion color en boton */
.button{
    transition: color 0.5s ease;
}
.button:hover{
    background-color: red; 
  }