/* Animacion en las imagenes */
.boxA .image-full,.boxB .image-full {

  transition: transform 1s ease; 
}
.boxA:hover .image-full,.boxB:hover .image-full {
  transform: rotate(360deg); 
}

/* Animacion el texto */
.boxA, .boxB {
 
  transition: color 0.5s ease; 
}
.boxA:hover, .boxB:hover {
  color: red; 
}

/* Animacion color en boton */
.boxA .button, .boxb .button{
    transition: color 0.5s ease;
}
.boxA .button:hover , .boxB .button:hover {
    background-color: red; 
  }